/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,shell-uart = &usart1;
		zephyr,console = &usart1;
	};
};

&usart1 {
	status = "okay";
	pinctrl-0 = < &usart1_tx_remap1_pb6 &usart1_rx_remap1_pb7 >;
};
&usart2 {
	status = "disabled";
};
&usart3 {
	status = "disabled";
};
&i2c1 {
	status = "disabled";
};
&i2c2 {
	status = "disabled";
};
&spi1 {
	status = "disabled";
};
&spi2 {
	status = "disabled";
};
&adc1 {
	status = "disabled";
};
&pinctrl {
	swj-cfg = "jtag-disable";
};

&timers1 {
	status = "okay";
};

&pwm1 {
	status = "disabled";
};
